.search-box {
    width: 100%;
    max-width: 100%;
    background-color: #FFE600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  
    &__container {
      max-width: 1200px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8px 0;
      gap: 34px;
    }
  
    &__form {
      width: 100%;
      max-width: 1018px;
      position: relative;
    }
  
    &__input {
      width: 100%;
      max-width: 1018px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.55);
      padding: 10px;
      padding-right: 44px;
    }
  
    &__logo {
      object-fit: contain;
    }
  
    &__icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;
  
      &:before {
        content: "";
        display: block;
        height: 22px;
        border-left: 1px solid #e6e6e6;
        position: absolute;
        right: 26px;
      }
    }
  }
  
  @media (min-width: 469px) and (max-width: 1024px) {
    .search-box {
      &__container { gap: 16px; max-width: 900px; }
      &__form { max-width: 800px; }
      &__input { max-width: 800px; font-size: 15px; }
      &__icon { right: 8px; }
    }
  }
  